.App {
  background: #e1e1e1;
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.main {
  background: white;
  height: 80vh;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  width: 90%;
  top: 100px;
  left: 5%;
  border-radius: 20px;
}


.scrambled_sentence{
  margin-top: 20px;
  text-align: center;
  color: #25528f;
  font-size: 32px;
  font-weight: 900;
}

.explain_text{
  text-align: center;
}

.score_text{
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}

.word {
  display: flex;
  justify-content: space-around;
}

.char_input{
  width: 100%;
}
